<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>Test to store data</title>
</head>
<body>
    <h1>Enter data to store in session</h1>
    <form method="POST" action="/session">
        <label for="data">DATA:</label>
        <input type="text" id="data" name="data">
        <br>
        <input type="submit" value="store">
    </form>
</body>
</html>